@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body {
    background: #e2e2e2;
  }
header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0 10px;

}
.leftnav a {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  .rightnav{
    display: flex;
  align-items: center;
  }
  header a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    padding: 20px 0;
  }
  header a:hover{
    color: rgb(222, 220, 220);
  }
  .main{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped");
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.2);
  }

  .main .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  .content a {
    color: black;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    padding: 12px 36px;
    border-radius: 5px;
    background: white;
    border: 2px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: 0.4s ease;
  }
  .content a:hover {
    color: gray;
  background: rgba(255,255,255,0.2);
  }

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0 0;
  }
  
  section h2 {
    font-size: 2rem;
  }
  
  section > p {
    text-align: center;
  }
  
.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
  }
  
.about {
    margin: 0 auto;
    max-width: 1200px;
  }
  
 .company-info {
    margin-top: 30px;
  }
  
  .about h3 {
    margin: 30px 0 10px;
  }
  
.team {
    text-align: left;
    width: 100%;
  }
  
.team ul {
    padding-left: 20px;
  }
  
.card {
    background: white;
    padding: 42px 13px;
    list-style: none;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 42px;
    width: calc(100% / 3 - 30px);
    
  }
  
 .card {
    padding: 50px 0 40px 0;
  }
  
  .services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
  }
  
.card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
  }
   .card p {
    padding: 0 15px;
    margin-top: 5px;
  }
  
  .about .row {
    padding: 0 10px;
  }
  
  .contact .row {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact .row .col {
    padding: 0 10px;
    width: calc(100% / 2 - 50px);
  }
  
  .contact .col p {
    margin-bottom: 10px;
  }
  
  .contact .col p i {
    color: #7a7a7a;
    margin-right: 10px;
  }
  
  .contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf;
  }
  
  .contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    border: 1px solid #bfbfbf;
  }
  
  .contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 5px;
    background: #333;
  }
  
  .contact form button:hover {
    background: #525252;
  }
  